body {
  font-family: "Montserrat", sans-serif;
}
.home {
  width: 100%;
  height: 100vh;
  background: linear-gradient(45deg, #101314, #12237c);
}
.questionAndindicationWrapper {
  width: 95%;
  display: flex;
  margin: auto;
  padding-top: 5%;
  background: none;
  justify-content: center;
}
.flexbox {
  display: flex !important;
  align-items: center;
  justify-content: space-between;
}
.displayContent {
  background-color: rgb(255, 255, 255);
  width: 70%;
  height: 500px;
  border-radius: 5px 0 0 5px;
  padding: 10px;
}
.indicator {
  width: 30%;
  max-width: 300px;
  background-color: #00000069;
}
.active {
  color: rgb(255, 255, 255);
  background: linear-gradient(0deg, green, #3f51b5);
}

.green {
  color: rgb(255, 255, 255);
  background: green;
}
.yournaswerspan {
  text-align: end;
}

/* Quiz.tsx */
.questionDiv {
  margin: 5px;
  border: 1px solid #3f51b5;
  border-radius: 2px;
  padding: 5px;
}
.countownandqno {
  display: flex;
  justify-content: space-between;
}
.notselect {
  display: block;
  padding: 15px;
  margin: 5px;
  margin-top: 10px;
  border-radius: 0 5px 5px 0;
  border: 3px solid white;
  box-shadow: 0 4px 10px 0 rgb(0 0 0 / 10%), 0 4px 20px 0 rgb(0 0 0 / 10%);
}
.userAnswer {
  color: #070809;
  border: 3px solid #36829e;
}
button {
  padding: 5px;
}
#input0,
#input1,
#input2,
#input3 {
  display: none;
}

/* status button */
.grid-container {
  padding: 20px;
  margin: auto;
  max-width: 300px;
  display: grid;
  justify-items: center;
  grid-template-columns: repeat(5, 1fr); /* 5 columns */
  grid-row-gap: 1%; /* Set the gap between rows */
  grid-column-gap: 1%;
}

.statusButton {
  /* Add any additional styling for your buttons */
  width: 30px; /* Make buttons take the full width of their container */
  height: 30px;
  overflow: hidden;
  border-radius: 100%;
  overflow: none; /* Adjust the height as needed */
}

@media screen and (max-width: 760px) {
  .questionAndindicationWrapper {
    flex-direction: column;
  }
  .displayContent {
    width: 100%;
    max-width: 850px;
  }
  .grid-container {
    padding: 20px;
    margin: auto;
    max-width: 300px;
  }
  .indicator {
    width: 100%;
  }
}
