.home {
  width: 100%;
  height: 100vh;
  background: linear-gradient(45deg, #36829e, #3f51b5);
}
.questionAndindicationWrapper{
 
  width: 95%;
  display: flex;
  margin: auto;
  padding-top: 5%;
  background: none;
  justify-content: center;
}
.displayContent {
  background-color: rgb(255, 255, 255);
  width: 70%;
  height: 500px;
  border-radius: 5px 0  0 5px ;
  padding: 10px;
}
.indicator{
  width: 30%;
  background-color: #00000069;
  min-width: 100px;
  min-height: 100px;
  max-width: 250px;
  
  
}
.active {
  color: rgb(255, 255, 255);
  background: linear-gradient(0deg, green, #3f51b5);
}
.userAnswer{
color: #070809;
background-color: #36829e;
}
.green{
  color: rgb(255, 255, 255);
  background: green;
}

/* Quiz.tsx */
.questionDiv {
  margin: 5px;
  border: 1px solid  #3f51b5;
  border-radius: 2px;
  padding: 5px;
}
.countownandqno{
  display: flex;
  justify-content: space-between;
}
.option label {
  display: block;
  padding: 15px;
  margin: 5px;
  margin-top: 10px;
  border-radius: 0 5px 5px  0;
  box-shadow: 0 4px 10px 0 rgb(0 0 0 / 10%), 0 4px 20px 0 rgb(0 0 0 / 10%);
}
button{
  padding: 5px;
}
#optionA,#optionB,#optionC,#optionD{
  display: none;
}
.grid-container {
  margin: 5px;
  display: grid;
  justify-items: center;
  grid-template-columns: repeat(5, 1fr); /* 5 columns */
  grid-gap: 5px; /* Adjust the gap between buttons as needed */
}

.statusButton {
  /* Add any additional styling for your buttons */
  width: 30px; /* Make buttons take the full width of their container */
  height: 30px;
  overflow: hidden;
  border-radius: 100%;
  overflow: none; /* Adjust the height as needed */
}